@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --color_blanco: #fff;
  --altura_header: 80px;
  --padding_left_right: 2rem;
  --ancho_maximo: 1200px;
  --gradante-walpaper: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  --color-title: rgb(230, 230, 58);
  --color--paragraph: bisque;
  --background-pie: #86A7FC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background-image: var(--gradante-walpaper), url(../images/marvel-background.jpg);
  font-family: "Open Sans", sans-serif;
}
.home .header {
  height: var(--altura_header);
}
.home .navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 0 var(--padding_left_right);
}
.home .navbar .img-header {
  height: 100px;
  width: 200px;
  background-color: none;
}
.home .navbar .ulHeader {
  width: 100%;
  position: absolute;
  top: var(--altura_header);
  left: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  transition: all 0.3s;
  list-style: none;
  background-color: #290B08;
}
.home .navbar .ulHeader .links {
  font-size: 2em;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.home .navbar .list-icon {
  cursor: pointer;
}
.home .navbar .menu-hamburguesa {
  display: none;
}
.home .navbarchecked + .ulHeader {
  height: calc(100vh - var(--altura_header));
}

.body-spidey {
  background-image: var(--gradante-walpaper), url(../images/spiderman/walpaper.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100px;
}
.body-spidey .about {
  text-align: center;
  font-family: "Roboto", sans-serif;
  gap: 3rem;
  align-items: start;
}
.body-spidey .about .subtitle {
  color: var(--color-title);
  font-size: 2rem;
  margin-bottom: 25px;
}
.body-spidey .about .about_paragraph {
  line-height: 1.7;
  color: var(--color--paragraph);
  font-size: 1.2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.body-spidey .about .about_main {
  padding-top: 80px;
  display: grid;
  width: 90%;
  margin: o auto;
  gap: 1em;
  overflow: hidden;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}
.body-spidey .about .about_main .about_icons {
  display: grid;
  gap: 1em;
  justify-items: center;
  width: 260px;
  overflow: hidden;
  margin: 0 auto;
}
.body-spidey .about .about_main .about_title {
  color: var(--color-title);
}
.body-spidey .about .about_main .about_icon {
  width: 40px;
}
.body-spidey .container-card {
  width: 800px;
  height: 2500px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  gap: 0 25em;
  max-width: 750px;
}
.body-spidey .container-card .card-persons {
  width: 400px;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  background: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.body-spidey .container-card .card-persons .card-persons img {
  width: 400px;
  height: 300px;
}
.body-spidey .container-card .card-persons .card-persons .spiderman {
  padding: 15px;
  text-align: center;
}
.body-spidey .container-card .card-persons .card-persons .spiderman .card-persons .spiderman h3 {
  font-weight: 400;
  margin-bottom: 15px;
}
.body-spidey .container-card .card-persons .card-persons .spiderman .card-persons .spiderman p {
  line-height: 1.5;
  color: #6a6a6a;
}
.body-spidey .container-card .card-persons .card-persons .spiderman .card-persons .spiderman a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: bisque;
  border: 1px solid black;
  border-radius: 4px;
  transition: all 400ms ease;
  background-color: #561C24;
}
.body-spidey .container-card .card-persons .card-persons .spidermanhover {
  background: red;
  color: #fff;
}
.body-spidey .container-cardhover {
  box-shadow: 5px 5px 20px rgba(190, 22, 22, 0.6);
  transform: translate(y(-6%));
}

.home-hulk {
  background-image: url(../images/walpaper-hulk.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100px;
}
.home-hulk .carrousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
}
.home-hulk .carrousel #contentItemCarrousel {
  border: 2px solid rgb(13, 51, 13);
  height: 400px;
  width: 1000px;
  overflow: hidden;
}
.home-hulk .carrousel .itemCarrousel {
  border: 1px solid black;
  height: 100%;
  position: relative;
}
.home-hulk .carrousel .tarjetaCarrousel {
  height: 100%;
}
.home-hulk .carrousel .tarjetaCarrousel .imgCarrousel {
  height: 100%;
  width: 100%;
}
.home-hulk .carrousel .tarjetaCarrousel .flechasCarrousel {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  /* Esto alinea a los elementos en medio */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.home-hulk .carrousel .tarjetaCarrousel .flechasCarrousel .svgCarrousel {
  color: white;
}
.home-hulk .carrousel #tarjetaCarrousel-1 {
  background-color: rgb(116, 46, 126);
}
.home-hulk .carrousel #tarjetaCarrousel-2 {
  background-color: rgb(43, 172, 60);
}
.home-hulk .carrousel #tarjetaCarrousel-3 {
  background-color: rgb(41, 82, 116);
}

.fantasticos4 {
  background-image: var(--gradante-walpaper), url(../images/walpaper-4fantasticos.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.fantasticos4 .title-container {
  text-align: center;
  text-decoration: solid;
  color: bisque;
  font-weight: bold;
  padding: 2rem;
}
.fantasticos4 .containerF {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 750px 750px;
  grid-template-areas: "card1 card2" "card3 card4";
  gap: 2rem 5rem;
  justify-content: center;
  justify-items: center;
}
.fantasticos4 .containerF .card1,
.fantasticos4 .containerF .card2,
.fantasticos4 .containerF .card3,
.fantasticos4 .containerF .card4 {
  width: 400px;
  height: 680px;
  margin: 20px;
  border-radius: 20px;
  overflow: hidden;
  background: rgb(20, 174, 176);
  background: linear-gradient(69deg, rgba(20, 174, 176, 0.8183473218) 0%, rgb(20, 123, 156) 4%, rgb(19, 64, 133) 30%, rgb(68, 98, 227) 88%, rgb(19, 29, 120) 100%);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.fantasticos4 .containerF .card1 .oceanos1,
.fantasticos4 .containerF .card2 .oceanos1,
.fantasticos4 .containerF .card3 .oceanos1,
.fantasticos4 .containerF .card4 .oceanos1 {
  padding: 15px;
  text-align: center;
  color: white;
}
.fantasticos4 .containerF .card1 .oceanos1 .imgF,
.fantasticos4 .containerF .card2 .oceanos1 .imgF,
.fantasticos4 .containerF .card3 .oceanos1 .imgF,
.fantasticos4 .containerF .card4 .oceanos1 .imgF {
  justify-items: center;
  width: 400px;
  height: 300px;
}
.fantasticos4 .containerF .card1 .oceanos1 .titleF,
.fantasticos4 .containerF .card2 .oceanos1 .titleF,
.fantasticos4 .containerF .card3 .oceanos1 .titleF,
.fantasticos4 .containerF .card4 .oceanos1 .titleF {
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #fff;
}
.fantasticos4 .containerF .card1 .oceanos1 .card1,
.fantasticos4 .containerF .card1 .oceanos1 .card2,
.fantasticos4 .containerF .card1 .oceanos1 .card3,
.fantasticos4 .containerF .card1 .oceanos1 .card4 .oceanos1 p,
.fantasticos4 .containerF .card2 .oceanos1 .card1,
.fantasticos4 .containerF .card2 .oceanos1 .card2,
.fantasticos4 .containerF .card2 .oceanos1 .card3,
.fantasticos4 .containerF .card2 .oceanos1 .card4 .oceanos1 p,
.fantasticos4 .containerF .card3 .oceanos1 .card1,
.fantasticos4 .containerF .card3 .oceanos1 .card2,
.fantasticos4 .containerF .card3 .oceanos1 .card3,
.fantasticos4 .containerF .card3 .oceanos1 .card4 .oceanos1 p,
.fantasticos4 .containerF .card4 .oceanos1 .card1,
.fantasticos4 .containerF .card4 .oceanos1 .card2,
.fantasticos4 .containerF .card4 .oceanos1 .card3,
.fantasticos4 .containerF .card4 .oceanos1 .card4 .oceanos1 p {
  line-height: 1.5;
  color: bisque;
}
.fantasticos4 .containerF .card1 .oceanos1 .linkF,
.fantasticos4 .containerF .card2 .oceanos1 .linkF,
.fantasticos4 .containerF .card3 .oceanos1 .linkF,
.fantasticos4 .containerF .card4 .oceanos1 .linkF {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #fff;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
}
.fantasticos4 .containerF .card1 .oceanos1hover,
.fantasticos4 .containerF .card2 .oceanos1hover,
.fantasticos4 .containerF .card3 .oceanos1hover,
.fantasticos4 .containerF .card4 .oceanos1hover {
  background: steelblue;
  color: #fff;
}
.fantasticos4 .containerF .card1 {
  grid-area: "card1";
}
.fantasticos4 .containerFhover {
  box-shadow: 30px 20px 50px rgba(0, 0, 0, 0.6);
  transform: translate(y(-3%));
}
.fantasticos4 .containerF .card2 {
  grid-area: "card2";
}
.fantasticos4 .containerFhover {
  box-shadow: 30px 20px 50px rgba(0, 0, 0, 0.6);
  transform: translate(y(-3%));
}
.fantasticos4 .containerF .card3 {
  grid-area: "card3";
}
.fantasticos4 .containerFhover {
  box-shadow: 30px 20px 50px rgba(0, 0, 0, 0.6);
  transform: translate(y(-3%));
}
.fantasticos4 .containerF .card4 {
  grid-area: "card4";
}
.fantasticos4 .containerFhover {
  box-shadow: 30px 20px 50px rgba(0, 0, 0, 0.6);
  transform: translate(y(-3%));
}
.fantasticos4 .title-enemies {
  text-align: center;
  font-size: 2rem;
  color: bisque;
  font-weight: bold;
}

.avengers {
  background: rgb(58, 138, 180);
  background: linear-gradient(214deg, rgb(58, 138, 180) 0%, rgb(3, 37, 201) 27%, rgb(0, 0, 0) 96%, rgb(12, 105, 196) 100%);
  /* background-repeat: no-repeat; */
  background-attachment: fixed;
}
.avengers .first-article {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.avengers .first-article .mb-3 {
  background: rgb(24, 4, 125);
  background: linear-gradient(214deg, rgb(24, 4, 125) 3%, rgb(3, 37, 201) 36%, rgb(52, 4, 88) 72%, rgb(12, 105, 196) 100%);
  border-radius: black 10px;
}
.avengers .first-article .mb-3 .card-title {
  color: #fff;
  font-weight: bold;
}
.avengers .first-article .mb-3 .card-text {
  color: #fff;
}
.avengers .secondArticle {
  overflow: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avengers .secondArticle .secondArticle h1 {
  font-weight: bold;
  text-align: center;
  color: #fff;
  font-size: 2rem;
  padding-bottom: 2rem;
}
.avengers .secondArticle .divAvengers {
  display: flex;
  position: center;
  width: 600px;
  height: 430px;
}
.avengers .secondArticle .divAvengers .divAvengers img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
.avengers .secondArticle .divAvengershover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.contactoBody {
  background-color: #3f3f83;
  opacity: 0.8;
  background-image: radial-gradient(#0976c4 0.5px, transparent 0.5px), radial-gradient(#0976c4 0.5px, #3f3f83 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
.contactoBody .form {
  background-color: #fff;
  margin: auto;
  width: 90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px --5px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 15px;
}
.contactoBody .form .form_title {
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.contactoBody .form .form_paragraph {
  font-weight: 300;
}
.contactoBody .form .form_paragraph .form_link {
  font-weight: 400;
  color: #000;
}
.contactoBody .form .form_container {
  margin-top: 3em;
  display: grid;
  gap: 2.5em;
}
.contactoBody .form .form_container .form_submit {
  background-color: #3866f2;
  color: #fff;
  font-family: "roboto", "sans-serif";
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8em 0;
  border: none;
  border-radius: 0.5em;
}
.contactoBody .form .form_container .form_group {
  position: relative;
  --color: #5757577e;
}
.contactoBody .form .form_container .form_group .form_line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3866f2;
  transform: scale(0);
  transform: left bottom;
}
.contactoBody .form .form_container .form_group .form_label {
  color: var(--color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform 0.5s, color 0.3s;
}
.contactoBody .form .form_container .form_group .form_input {
  position: relative;
  width: 100%;
  background: none;
  color: #706e6e;
  font-size: 1rem;
  padding: 0.6em;
  padding: 0.6em 0.3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);
  font-family: "roboto", "sans-serif";
}
.contactoBody .form .form_container .form_groupfocus + .form_label,
.contactoBody .form .form_container .form_group .form_input:not(:placeholder-shown) + .form_label {
  transform: translateY(-12px) scale(0.7);
  transform-origin: left top;
  color: #3866f2;
}

.pie {
  background-color: var(--background-pie);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 50px);
  grid-template-areas: "tit  tit  tit" "p    p    p" "img1 img2 img3";
  align-items: center;
  justify-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pie .pie h2 {
  grid-area: tit;
}
.pie .pie .p-footer {
  grid-area: p;
}
.pie .pie .p-footer .pie .icon-pie1 {
  grid-area: img1;
}
.pie .pie .p-footer .pie .icon-pie2 {
  grid-area: img2;
}
.pie .pie .p-footer .pie .icon-pie3 {
  grid-area: img3;
}

/*# sourceMappingURL=estilos.css.map */
